{{!-- Funcional --}}
<link rel="stylesheet" href="/css/buses/agregar.css">
<form action="/detalle_persona/agregar" method="post">

  <body>
    <div id="container">

      <h2>Detalle Persona</h2>


      <label id="numero_persona" for="numero_persona">Telefono</label> <br>
      <input type="number" id="numero_persona" name="numero_persona" required>

      <br> <br><br>
      <br> <br>
      <div id="boton">
        <button type="submit" id="">Guardar</button>
      </div>
      <div id="boton">
        <button type="submit" id="">Cancelar</button>
      </div>
    </div>
  </body>
</form>