<link rel="stylesheet" href="/css/buses/editar.css">
{{#each lista}}
<form action="/detalle_persona/editar/{{id_detalle_persona}}" method="post">

  <body>


    <div id="container">
      <h2>Actualización de Personas</h2>

      
      <label id="numeros_telefonos" for="numeros_persona">Telefono</label> <br>
      <input type="number" id="numeros_telefono" name="numero_persona" value="{{numero_persona}}"  required>


      <div id="boton">
        <button type="submit">Actualizar</button>
      </div>
      <div class="cancelar">
        <button type="submit">Cancelar</button>
      </div>
    </div>
    </div>
    </div>
</form>
{{/each}}

</body>