{{!-- Funcional --}}
<link rel="stylesheet" href="/css/buses/agregar.css">
<form action="/detalle_mascota/agregar" method="post">

    <body>
        <div id="container">

            <h2>Detalle Mascotas</h2>

            <label id="numero_telefonico" for="numero">Numero de telefono:</label> <br>
            <input type="text" id="numero" name="numero_telefonico" required>

            <label id="medicines" for="medicinas">Medicamentos:</label> <br>
            <input type="text" id="medicinas" name="medicamentos" required>

            <label id="direccion_mascota" for="direccion_mascota">Dirección:</label> <br>
            <input type="text" id="direccion_mascota" name="direccion_mascota" required>

            <label id="date" for="fecha">Fecha de vacuna:</label> <br>
            <input type="date" id="fecha" name="fecha_vacuna" required>

            <label id="name" for="nombre">Nombre del propietario:</label> <br>
            <input type="text" id="nombre" name="nombre_propietario" required>

            <div class="registrarse">
                <button type="submit" id="">Registrar</button>
            </div>
            <div class="cancelar">
                <button type="submit" id="">Guardar</button>
            </div>
        </div>
    </body>
</form>