{{!-- Funcional --}}

{{!-- 
<link rel="stylesheet" href="/css/buses/agregar.css">
<form action="/detalle_familiar/agregar" method="post">

  <body>
    <div id="container">

      <h2>Detalle Familiar</h2>

        <label id="telefonos" for="telefono">Telefono</label> <br>
        <input type="text" id="telefono" name="telefono" required>

        <br> <br><br>
        <br> <br>
            <div class="registrarse">
                <button type="submit" id="">Registrar</button>
            </div>
            <div class="cancelar">
                <button type="submit" id="">Guardar</button>
            </div>
    </div>
  </body>
</form> --}}