{{!-- Funcional --}}
<link rel="stylesheet" href="/css/mensajepersonalizado.css">
<form action="/mensaje_personalizado/agregar" method="post">

  <body>
    <nav>
      <h1 class="textos">SOS RESQ</h1>
      <div class="user-info">
        <h2>Camila</h2>
        <p>camila@example.com</p>
      </div>
      <a href="#" class="menu-item active"><img src="/img/cuadrado.png" alt="Registro"> Registro Información</a>
      <a href="#" class="menu-item"><img src="/img/circulo.png" alt="Datos"> Datos Guardados</a>
      <a href="#" class="menu-item"><img src="/img/icorreo.png" alt="Familia"> Registro Familiares</a>
      <a href="#" class="menu-item"><img src="/img/circulo.png" Guardados> Datos Guardados</a>
      <a href="#" class="menu-item"><img src="/img/icorreo.png" alt="Notificación"> Mensaje de Notificación</a>
      <a href="#" class="menu-item"><img src="/img/4lineas.png" alt="Historial"> Historial</a>
      <a href="#" class="menu-item"><img src="/img/circulo1.png" alt="Ubicación"> Historial de Ubicación</a>
      <a href="#" class="menu-item"><img src="/img/circulo1.png" alt="Activaciones"> Historial de Activaciones</a>
      <br><br>
      <a href="#" class="underline-text">cerrar sesion <u></u></a>
    </nav>

    <div id="container">
      <h2>Mensaje Personalizado</h2>

      <label id="mensajes" for="mensaje">Mensaje</label> <br>
      <input type="text" id="mensaje" name="mensaje" required>

      <label id="descripciones" for="descripcion">Descripción</label> <br>
      <input type="text" id="descripcion" name="descripcion" required>

      <label id="fecha_mensajes" for="fecha_mensaje">Fecha mensaje</label> <br>
      <input type="date" id="fecha_mensaje" name="fecha_mensaje" required>

      <br> <br><br>
      <br> <br>
      <div class="registrarse">
        <button type="submit" id="">Registrar</button>
      </div>
      <div class="cancelar">
        <button type="submit" id="">Guardar</button>
      </div>
    </div>

  </body>
</form>


