{{!-- Funcional --}}
<link rel="stylesheet" href="/css/catalogo.css">
<form action="/catalogo" method="post">

    <body>
        

     <h3>Favor de completar el registro para asignar el destinatario del botón de pánico</h3>

    <div class="btn-container">
      <a href="/mascota/agregar" class="btn btn-mascota">Registro Mascota</a>
      <a href="/objeto/agregar" class="btn btn-objeto">Registro Objeto</a>
      <a href="/persona/agregar" class="btn btn-persona">Registro Persona</a>
      </div>
    </body>
</form>