
<link rel="stylesheet" href="/css/inicio.css">
<form action="/inicio"method="POST">
<body>
    
  <nav id="sidebar">
    <a href="/inicio"><h1 class="textos">SOS RESQ</h1></a>
    <div class="user-info">
        <h3>Camila</h3>
        <h4>camila@example.com</h4>
    </div>
    <a href="/usuario/agregar" class="menu-item active"><i class="fas fa-user" ></i> Usuario</a>
    <a href="" class="menu-item"><i class="fas fa-save" ></i> Datos Guardados</a>
    <a href="/registro_familiar/agregar" class="menu-item"><i class="fas fa-users" ></i> Registro Familiares</a>
    <a href="/registro_familiar/listar/" class="menu-item"><i class="fas fa-save"  ></i> Datos Guardados</a>
    <a href="/mensaje_personalizado/agregar/" class="menu-item"><i class="fas fa-envelope" ></i> Mensaje de Notificación</a>
    <a href="/mensaje_personalizado/listar/" class="menu-item"><i class="fas fa-save" ></i> Datos Guardados</a>
    <a href="" class="menu-item"><i class="fas fa-history" ></i> Historial</a>
    <a href="/historial_activacion/agregar/" class="menu-item"><i class="fas fa-history"></i> Historial de Activaciones</a>
    <br><br>
    <a href="/login/" class="underline-text">cerrar sesion <u></u></a>
</nav>
<div class="logo-container">
        <img src="/img/logo.jpeg" class="logo" alt="Logo">
    </div>
    <div class="textoss">
     <h1>SOS RESQ</h1>
     </div>
    <h7 class="loca">Localizacion en cualquier lugar</h7>
    <h8 class="cuando">Cuando pulses en el enlace de tu mensaje,te avisará de su ubicación.</h8>
    <img src="/img/mapa.png" class="mapa">
    <h8 class="dis">Todos los dispositivos</h8>
    <h9  class="visua">Visualizacion de tu Historial de Hubicacion</h9>
    <img src="/img/cpu.png" class="cpu">
    <img src="/img/mapita.png" class="mapita">

</body>
</form>