
<link rel="stylesheet" href="/css/inicio.css">
<form action="/inicio"method="POST">
<body>
    
<nav id="sidebar">
    <a href="/inicio"><h1 class="textos">SOS RESQ</h1></a>
    <div class="user-info">
        <h3>Camila</h3>
        <h4>camila@example.com</h4>
    </div>

    <a href="" class="menu-item"><img src="/img/circulo.png" alt="Datos"> Datos Guardados</a>
    <a href="/registro_familiar/agregar" class="menu-item"><img src="/img/icorreo.png" alt="Familia"> Registro Familiares</a>
    <a href="/registro_familiar/listar/" class="menu-item"><img src="/img/circulo.png" alt="Datos"> Datos Guardados</a>
    <a href="/mensaje_personalizado/agregar/" class="menu-item"><img src="/img/icorreo.png" alt="Notificaci칩n"> Mensaje de Notificaci칩n</a>
    <a href="/mensaje_personalizado/listar/" class="menu-item"><img src="/img/circulo.png" alt="Datos"> Datos Guardados</a>
    <a href="" class="menu-item"><img src="/img/4lineas.png" alt="Historial"> Historial</a>
    <a href="/historial_activacion/agregar/" class="menu-item"><img src="/img/circulo1.png" alt="Activaciones"> Historial de Activaciones</a>
    <br><br>
    <a href="/login/" class="underline-text">cerrar sesion <u></u></a>
</nav>
    <h7 class="loca">Localizacion en cualquier lugar</h7>
    <h8 class="cuando">Cuando pulses en el enlace de tu mensaje,te avisar치 de su ubicaci칩n.</h8>
    <img src="/img/mapa.png" class="mapa">
    <h8 class="dis">Todos los dispositivos</h8>
    <h9  class="visua">Visualizacion de tu Historial de Hubicacion</h9>
    <img src="/img/cpu.png" class="cpu">
    <img src="/img/mapita.png" class="mapita">

</body>
</form>