.imgpet{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* La imagen se ajustará para cubrir toda la pantalla */
    background-position: center; /* La imagen se centrará en la pantalla */
    z-index: -1; /* Coloca la imagen de fondo detrás de todo el contenido */
}
.column {
    max-width: 300px;
    max-height: 300px;
    margin-top: -500px;
    margin-left: 630px;
    /* Ajusta segúnsea necesario, dejando un pequeño espacio entre columnas */
}
.column1{
    margin-top: -259px;
    max-width: 300px;
    padding: 2px;
    margin-left: 940px;
}

.img3 {
    max-width: 50%;
    height: 50vw;
    display: flex;
    margin-right: auto;
    /* Centra la imagen horizontal y verticalmente */
}

h1 {
    position: absolute;
    top: 10%;
    right: 13%;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
    color: #fff;
}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px;
    background-color: #098ce286 ;
    color:rgb(73, 73, 73);
}


.login {
    position: absolute;
    top: 70%;
    right: 390px;
}

.atras {
    position: absolute;
    top: 70%;
    right: 285px;
}

button {
    background-color: #2563EB;
    color: #fff;
    padding: 7px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: -30px;
}

@media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      margin-left: 0px; /* Ajusta según sea necesario */
      margin-right: 20px; /* Ajusta según sea necesario */
      margin-top: 10px;
    }
  
    .column {
        max-width: 400px; /* Permitir que las columnas ocupen todo el ancho en pantallas más pequeñas */
        margin-top: 10px;
        margin-left: 0px;

    }
    .column1 {
        max-width: 400px; /* Permitir que las columnas ocupen todo el ancho en pantallas más pequeñas */
        margin-top: 10px;
        margin-left: 0px;
    }
  
    .img3 {
      max-width: 100%;
      height: auto;
      margin-right: auto;
      margin-left: auto;
    }
  
    h1 {
        position: static;
        text-align: center;
        margin: 10px 0; /* Ajusta según sea necesario */
    }

    .login {
        position: absolute;
        top: 100%;
        right: 45%; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }
    
    .atras {
        position: absolute;
        top: 100%;
        right: 80px; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }

  
    .form-control {
      width: 100%; /* Hace que los campos de entrada ocupen todo el ancho dentro de las columnas */
      box-sizing: border-box; /* Incluye padding y borde en el ancho y alto total del elemento */
      margin-bottom: 10px; /* Ajusta según sea necesario */
    }
}

@media only screen and (min-width: 375px) and  (max-width: 667px) {

    .login {
        position: absolute;
        top: 155%;
        right: 45%; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }
    
    .atras {
        position: absolute;
        top: 155%;
        right: 100px; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }

}

@media only screen and (min-width: 414px) and  (max-width: 896px) {

    .login {
        position: absolute;
        top: 120%;
        right: 45%; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }
    
    .atras {
        position: absolute;
        top: 120%;
        right: 100px; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }

}



/* Estilos para pantallas entre 390px y 844px */
@media only screen and (min-width: 390px) and (max-width: 844px) {

    .login {
        /* Estilos específicos para pantallas entre 390px y 844px */
        position: absolute;
        top: 125%; /* Ajusta el valor para mover más abajo */
        right: 45%; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }

    .atras {
        /* Estilos específicos para pantallas entre 390px y 844px */
        position: absolute;
        top: 125%; /* Ajusta el valor para mover más abajo */
        right: 100px; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }

}

@media only screen and (min-width: 412px) and (max-width: 915px) {

    .login {
        /* Estilos específicos para pantallas entre 390px y 844px */
        position: absolute;
        top: 120%; /* Ajusta el valor para mover más abajo */
        right: 45%; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }

    .atras {
        /* Estilos específicos para pantallas entre 390px y 844px */
        position: absolute;
        top: 120%; /* Ajusta el valor para mover más abajo */
        right: 100px; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }

}



