
.img3{
    max-width: 50%;
    height: 50%;
    display: flex;
    margin-right: auto; /* Centra la imagen horizontal y verticalmente */
}
h1{
    position: absolute;
    top: 0%;
    right: 13%;
}

label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}
.form-control {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px;
    background-color: #f8f9fa;
}

.form-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #a7a7a753;
    margin-left: 50px;
    margin-top: -87px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: -50px;
    margin-top: -500px;
    margin-right: 100px;
}
.form-container img {
    max-width: 100px;
    margin-left: 20px; /* Cambié margin-right a margin-left */
    order: 2; /* Cambié el orden de la imagen */
}
.login{
    position: absolute;
    top: 97%;
    right: 17%;
}
.atras{
    position: absolute;
    top: 97%;
    right: 25%;
}
button {
    background-color: #2563EB;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

