.column {
    max-width: 300px;
    margin-top: -500px;
    margin-left: 650px;
    /* Ajusta según sea necesario, dejando un pequeño espacio entre columnas */
}
.column1{
    margin-top: -220px;
    max-width: 300px;
    padding: 6px;
    margin-left: 990px;
}

.img3 {
    max-width: 50%;
    height: 50vw;
    display: flex;
    margin-right: auto;
    /* Centra la imagen horizontal y verticalmente */
}

h1 {
    position: absolute;
    top: 10%;
    right: 13%;
}

label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px;
    background-color: #dadbdd69;
}


.login {
    position: absolute;
    top: 83%;
    right: 390px;
}

.atras {
    position: absolute;
    top: 83%;
    right: 285px;
}

button {
    background-color: #2563EB;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      margin-left: 0px; /* Ajusta según sea necesario */
      margin-right: 20px; /* Ajusta según sea necesario */
      margin-top: 10px;
    }
  
    .column {
        max-width: 400px; /* Permitir que las columnas ocupen todo el ancho en pantallas más pequeñas */
        margin-top: 10px;
        margin-left: 0px;

    }
    .column1 {
        max-width: 400px; /* Permitir que las columnas ocupen todo el ancho en pantallas más pequeñas */
        margin-top: 10px;
        margin-left: 0px;
    }
  
    .img3 {
      max-width: 100%;
      height: auto;
      margin-right: auto;
      margin-left: auto;
    }
  
    h1 {
        position: static;
        text-align: center;
        margin: 10px 0; /* Ajusta según sea necesario */
    }

    .login {
        position: absolute;
        top: 155%;
        right: 45%; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }
    
    .atras {
        position: absolute;
        top: 155%;
        right: 80px; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }

  
    .form-control {
      width: 100%; /* Hace que los campos de entrada ocupen todo el ancho dentro de las columnas */
      box-sizing: border-box; /* Incluye padding y borde en el ancho y alto total del elemento */
      margin-bottom: 10px; /* Ajusta según sea necesario */
    }
}

@media only screen and (min-width: 414px) and  (max-height: 896px) {

    .login {
        position: absolute;
        top: 120%;
        right: 45%; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }
    
    .atras {
        position: absolute;
        top: 120%;
        right: 100px; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }

}


@media only screen and (min-width: 390px) and  (max-height: 844px) {

    .login {
        position: absolute;
        top: 125%;
        right: 45%; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }
    
    .atras {
        position: absolute;
        top: 125%;
        right: 100px; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }

}

@media only screen and (min-width: 430px) and  (max-height: 932px) {

    
    .login {
        position: absolute;
        top: 120%;
        right: 45%; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }
    
    .atras {
        position: absolute;
        top: 120%;
        right: 100px; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }

}


@media only screen and (min-width: 412px) and  (max-height: 915px) {

    
    .login {
        position: absolute;
        top: 120%;
        right: 45%; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }
    
    .atras {
        position: absolute;
        top: 120%;
        right: 100px; /* Ajusta el valor de la derecha según sea necesario */
        padding: 8px 15px;
    }

}

