h1 {
    text-align: center;
    margin-top: 30px;
    margin-right: 5px;
}

body{
    background-color: #ffffff;
    font-family: Helvetica;
    font-size: 14px;
    color: rgb(94, 92, 92);
    margin: 0;
    padding: 0;
}
.swiper{
    width: 100%;
    padding: 150px 0 50px 0;
}
.swiper-slide{
    width: 300px;
    height: 300px;
    background-color: #7c7c7c7e;
    box-shadow: 0 0 20px rgba(0,0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin-top: -100px;
    margin-left: 40px;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icons i{
    font-size: 20px;
    color: #ff0000;
}
.icons img{
    width: 120px;
}
.product-content{
    display: flex;
    justify-content: space-between;
}
.product-txt span{
    font-size: 25px;
    color: #006eff;
    font-weight: bold;
}

.product-img{
    flex-basis: 50%;
    text-align: right;
}
.product-img img{
    width: 120px;
}
.btn-1{
    display: inline-block;
    padding: 13px 55px;
    border: 1px solid #000000;
    border-radius: 25px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 50px;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    padding: 10px; /* Ajusta el espaciado según tu preferencia */
    background-color: #f8f9fa; /* Ajusta el color de fondo según tu diseño */
    position: fixed;
    top: 0;
    right: 0; /* Alinea el contenedor a la parte superior derecha */
    z-index: 999; /* Asegura que esté en la parte superior */
  }
  
  .logo {
    width: 70px; /* Ajusta el tamaño según tu preferencia */
    height: 70px; /* Ajusta el tamaño según tu preferencia */
    margin-left: 10px; /* Espacio entre el logo y el borde derecho del contenedor */
  }