
h1 {
    text-align: center;
    margin-top: 30px;
    margin-right: 5px;
    
}
.btn-1{
    background-color: #ffffff;
    font-family: Helvetica;
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

 /* 
.swiper{
    width: 100%;
    padding: 150px 0 50px 0;
}
.swiper-slide{
    width: 300px;
    height: 300px;
    background:linear-gradient(30deg, rgba(221, 221, 221, 0.842),rgb(102, 171, 173));
    box-shadow: 0 0 20px rgba(0,0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin-top: -100px;
    margin-left: 40px;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icons i{
    font-size: 20px;
    color: #ff0000;
}
.icons img{
    width: 120px;
}
.product-content{
    display: flex;
    justify-content: space-between;
}
.product-txt span{
    font-size: 25px;
    color: #006eff;
    font-weight: bold;
}

.product-img{
    flex-basis: 50%;
    text-align: right;
}
.product-img img{
    width: 120px;
}
 */
.btn-1{
    display: inline-block;
    padding: 13px 55px;
    border: 1px solid #000000;
    border-radius: 25px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 50px;
    background:linear-gradient(30deg, rgba(221, 221, 221, 0.842),rgb(102, 171, 173));
}




  
/* Codigo de las Tarjetas */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
h2{
    text-decoration-color:blue;
}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQl30obPgD0tMErKygCUflU4KRhjvo0PcuwTWLj241h5Q&s);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 330vh;
}

.container__cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.card:hover{
    width: 350px;
}

.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card:hover .cover img{
    top: 0px;
    filter: none;
}

.card .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img__back{
    background-image: url(/img/fondotarjeta.jpg);
}

.card:nth-of-type(2) .img__back{
    background-image: url(/img/fondotarjeta.jpg);
}

.card:nth-of-type(3) .img__back{
    background-image: url(/img/fondotarjeta.jpg);
}

.card:hover .img__back{
    bottom: -40px;
}

.card .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
    border: 2px solid #100F0F;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 10px;
}

.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #9D9D9D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
    background: linear-gradient(to right, #353333, #9991bc);

}

.card .description input:hover{
    background: rgb(105, 105, 233);
}


/* Hasta aqui va */

  @media only screen and (max-width: 768px) {

    h1 {
        font-size: 20px; /* Tamaño de fuente reducido para pantallas más pequeñas */
        margin-top: 20px; /* Espaciado superior ajustado */
    }


    .swiper1 {
        width: 10%;
        height: auto;
        padding: 20px;
        text-align: center;
        margin-top: -30px;
        margin-left: -16%;
        margin-bottom: 20px; /* Añadido margen inferior para separar verticalmente */
    }

    .swiper2 {
        width: 40%;
        height: auto;
        padding: 20px;
        text-align: center;
        margin-top: 420px;
        margin-left: -22%;
        margin-bottom: 20px; /* Añadido margen inferior para separar verticalmente */
    }

    .swiper3 {
        width: 40%;
        height: auto;
        padding: 20px;
        text-align: center;
        margin-top: 870px;
        margin-left: -51%;
        margin-bottom: 20px; /* Añadido margen inferior para separar verticalmente */
    }


    .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .icons i {
        font-size: 20px;
        color: #ff0000;
        margin-bottom: 10px;
    }

    .product-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-txt span {
        font-size: 20px;
        color: #006eff;
        font-weight: bold;
    }

    .product-img {
        flex-basis: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .product-img img {
        width: 30%;
    }

    .btn-1 {
        display: inline-block;
        padding: 13px 40px;
        border: 1px solid #000000;
        border-radius: 25px;
        color: #ffffff;
        text-decoration: none;
        margin-top: 20px;
    }

    .logo-container {
        justify-content: center; /* Center content for smaller screens */
        padding: 10px;
    }

    /*  */

    .logo {
        width: 50px; /* Ajuste del tamaño del logo para pantallas más pequeñas */
        height: 50px; /* Ajuste del tamaño del logo para pantallas más pequeñas */
        margin-left: 0; /* Eliminar el margen izquierdo negativo */
        margin-top: 0; /* Eliminar el margen superior positivo */
        position: relative; /* Agregar posición relativa */
        z-index: 1; /* Establecer un índice Z para asegurarse de que esté en la parte superior del contenido */
    }
    
}



