body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#sidebar {
    width: 250px;
    background-color: #f8f9fa;
    color: black;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: left 0.5s; /* Para el Nav en Responsive */
}

#sidebar a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 17px;
}

#sidebar a:hover {
    background-color: #6ddef1;
}

.main {
    padding: 20px;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    background-color: black;
    color: #fff;
    border-radius: 0 5px 5px 0;
}
.textos {
    color: #109cf1;
    font-size: 24px;
    border-bottom: 1px solid purple; 
    padding-bottom: 2px; 
   border-bottom-width: 2.5px; 
}
.underline-text {
    text-align: center;
    border-bottom: 1px solid black; 
    padding-bottom: 2px; 
    border-bottom-width: 2.5px; 
}

.menu-item img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.menu-item {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    margin-bottom: -10px;
}
.user-info h3 {
    margin-top: -3px;
    margin-left: 100px;
  }
  
  h4 {
      margin-top: -10px;
      margin-left: 40px;
      color: gray;
  }
  h1{
    text-align: center;
  }
/*tabla*/

.title {
    text-align: center;
    margin-top: 30px;
    margin-left: 13%;
}

.container {
    width: 70%;
    margin: auto;
    margin-top: 80px;
    margin-left: 23%;
    font-size: 13px;    
}

.row {
    display: flex;
    border-bottom: 1px solid #ddd;

}

.row.header {
    font-weight: bold;
    background-color: #0a88d8;
    margin: 0; 
}

.column {
    flex: 1;
    padding: 5px; /* Reducimos el relleno */
    border: 1px solid black;
    margin: -1px; 
    font-size: 14px; 
}

@media screen and (max-width: 600px) {
    .column {
        font-size: 12px;
    }

}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    padding: 10px; /* Ajusta el espaciado según tu preferencia */
    background-color: #f8f9fa; /* Ajusta el color de fondo según tu diseño */
    position: fixed;
    top: 0;
    right: 0; /* Alinea el contenedor a la parte superior derecha */
    z-index: 999; /* Asegura que esté en la parte superior */
  }
  
  .logo {
    width: 70px; /* Ajusta el tamaño según tu preferencia */
    height: 70px; /* Ajusta el tamaño según tu preferencia */
    margin-left: 10px; /* Espacio entre el logo y el borde derecho del contenedor */
  }

  /* Consulta de medios para pantallas Verticales que 768px */
  @media only screen and (max-width: 768px) {
    /* Nav */
    #sidebar {
      left: -250px; /* Oculta la barra lateral inicialmente fuera de la pantalla */
      transition: left 0.5s; /* Para la transición */
    }
  
    #sidebar.show {
      left: 0; /* Muestra la barra lateral */
    }
  
    .menu-toggle {
      display: block; /* Hace que el boton sea visible */
      cursor: pointer;
      position: fixed;
      top: 10px;
      left: 10px;
      z-index: 2;
      font-size: 35px; /* Tamaño del Boton */
    }
  
    /* LOGO */
  
    .logo-container {
      justify-content: center; /* Centra el contenido en pantallas más pequeñas */
    }
  
    .logo {
      width: 50px; /* Ajusta el tamaño  con el ancho de la ventana para pantallas más pequeñas */
      height: 50px; /* Ajusta el tamaño  con el ancho de la ventana para pantallas más pequeñas */
      margin-left: 0; /* Elimina el margen izquierdo en pantallas más pequeñas */
    }



    
                          /* Tabla */

                          .titulo {
                            margin-top: 20%;
                            margin-right: 2%;
                          }
              
                      .table-container {
                        overflow-x: auto; /* Hace que la tabla sea deslizable horizontalmente */
                        max-width: 100%; /* Ajusta el ancho máximo para asegurar el deslizamiento */
                        margin-top: -10%;
                        width: 93%;
                        margin-left: 15px;
                      }
                    
                      table {
                        width: 100%; /* Hace que la tabla sea 100% ancha en pantallas más pequeñas */
                        margin-left: 0; /* Elimina el margen izquierdo en pantallas más pequeñas */
                        margin-right: 0; /* Elimina el margen derecho en pantallas más pequeñas */
                        font-size: 15px; /* Establece el tamaño de letra */
                      }
                    
                      th, td {
                        padding: 0.5vw; /* Ajusta el relleno en unidades relativas para pantallas más pequeñas */
                      }
                    
                    
                    
                      button {
                        width: 50px;
                        padding: 6px;
                        margin-right: 40px;
                        height: 20px;
                        font-size: 10px;
                    
                    }
                  
    
    


    
  
  
  }