body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
   overflow: hidden; 
}

#sidebar {
  width: 250px;
  background-color: #f8f9fa;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: left 0.5s; /* Para el Nav en Responsive */
}

#sidebar a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 17px;
}
h1{
  text-align: center;
}
#sidebar a:hover {
  background-color: #6ddef1;
}

.main {
  padding: 20px;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  background-color: black;
  color: #fff;
  border-radius: 0 5px 5px 0;
}
.textos {
  color: #109cf1;
  font-size: 24px;
  border-bottom: 1px solid purple; 
  padding-bottom: 2px; 
 border-bottom-width: 2.5px; 
}
.underline-text {
  text-align: center;
  border-bottom: 1px solid black; 
  padding-bottom: 2px; 
  border-bottom-width: 2.5px; 
}

.menu-item img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.menu-item {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  margin-bottom: -10px;
}



/* Container */

.loca { 
	color:rgba(0, 0, 0, 1);
	width:370px;
	height:1 4px;
  position:absolute;
  left:550px;
	top:60px;
	font-family:Inknut Antiqua;
	text-align:left;
	font-size:30px;
	letter-spacing:0.15000000596046448;
	line-height:px;
  margin-left: -150px;
  margin-top: 20px;
}
.cuando { 
  color: rgba(0, 0, 0, 1);
  width: 400px;
  height: 50px;
  position:absolute;
  left:800px;
	top:200px;
  font-family: Inika;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
  display: inline-block;
}

.mapa, img {
  width:290px; 
  height:220px;
  position: absolute;
  left: 200px;  
  top: 150px; 
  margin-top: -70px;
} 
.dis { 
	color:rgba(120.0624842941761, 30.515881329774857, 100.36223620176315, 1);
	width:200px;
	height:48px;
  position:absolute;
  left:450px;
	top:380px; 
	font-family:Inknut Antiqua;
	text-align:left;
	font-size:20px;
	letter-spacing:0.15000000596046448;
	line-height:px;
}
.visua { 
	color:rgba(120.00000044703484, 31.000000052154064, 100.00000163912773, 1);
	width:580px;
	height:48px;
  position:absolute;
  left:800px;
	top:380px; 
	font-family:Inknut Antiqua;
	text-align:left;
	font-size:20px;
	letter-spacing:0.15000000596046448;
	line-height:px;
}

.cpu  {
  width:100px; 
  height:120px;
  position: absolute;
  left: 240px;
  top: 410px; 
  margin-top: -80px;
}
.mapita  {
  width:150px; 
  height:100px;
  position: absolute;
  left: 680px;
  top: 410px;
  margin-top: -60px; 
}  

.mapita,cpu,img{
  width: 200px;
  height: 150px;
}
.user-info h3 {
  margin-top: -3px;
  margin-left: 100px;
}

h4 {
    margin-top: -10px;
    margin-left: 40px;
    color: gray;
}


.textoss{
  color: #109cf1;
  font-size: 24px;
  padding-bottom: 2px;
  text-align: center;
  margin-left: 300px;
  margin-top: -10px;
}
.h7 {
 margin-top: 10px;
 margin-right: 50px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  padding: 10px; 
  background-color: #f8f9fa; 
  position: fixed;
  top: -7%;
  right: 15%;
  z-index: 999; 
}

.logo {
  width: 70px; 
  height: 70px; 
  margin-left: 10px; 
}

/* Consulta de medios para pantallas Verticales que 768px */
@media only screen and (max-width: 768px) {
  /* Nav */
  #sidebar {
    left: -250px; /* Oculta la barra lateral inicialmente fuera de la pantalla */
    transition: left 0.5s; /* Para la transición */
  }

  #sidebar.show {
    left: 0; /* Muestra la barra lateral */
  }



  .menu-toggle {
    display: block; /* Hace que el botón sea visible */
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    font-size: 35px; /* Tamaño del Botón */
  }





  /* LOGO */
  .logo-container {
    justify-content: center; /* Centra el contenido en pantallas más pequeñas */
  }

  .logo {
    width: 50px; /* Ajusta el tamaño con el ancho de la ventana para pantallas más pequeñas */
    height: 50px; /* Ajusta el tamaño con el ancho de la ventana para pantallas más pequeñas */
    margin-left: 0; /* Elimina el margen izquierdo en pantallas más pequeñas */
  }

  .loca {
    width: 80%;
    left: 69%;
    margin-top: 7px;
    font-size: 13px;
  }

  .cuando {
    width: 80%;
    left: 10%;
    margin-top: -90px;
  }

  .mapa {
    width: 80%;
    left: -30%;
  }

  .visua {
    width: 80%;
    left: 10%;
    margin-top: -10px;
    text-align: center;
  }

  .cpu {
    width: 80%;
    left: -30%;
    margin-top: -55px;
  }

  .dis {
    width: 80%;
    left: 23%;
    margin-top: 240px;
  }

  .mapita {
    width: 80%;
    left: -29%;
    margin-top: 190px;
  }

  .textoss h1 {
    font-size: 40px;
    margin-left: -390%;
    margin-top: 40%;
  }

  .mapa {
    top: 120px;
    margin-top: 0;
  }

  .cuando,
  .visua {
    font-size: 20px;
  }

  .hidden-text {
    display: none; /* Oculta los elementos con la clase hidden-text */
  }

  

}


