{{!-- Funcional --}}
<link rel="stylesheet" href="/css/agregarfamilia.css">
<form action="/registro_familiar/agregar" method="post">

    <body>
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
 <nav id="sidebar">
    <a href="/inicio"><h1 class="textos">SOS RESQ</h1></a>
    <div class="user-info">
        <h3>Camila</h3>
        <h4>camila@example.com</h4>
    </div>
    <a href="/usuario/agregar" class="menu-item active"><i class="fas fa-user" ></i> Usuario</a>
    <a href="" class="menu-item"><i class="fas fa-save" ></i> Datos Guardados</a>
    <a href="/registro_familiar/agregar" class="menu-item"><i class="fas fa-users" ></i> Registro Familiares</a>
    <a href="/registro_familiar/listar/" class="menu-item"><i class="fas fa-save"  ></i> Datos Guardados</a>
    <a href="/mensaje_personalizado/agregar/" class="menu-item"><i class="fas fa-envelope" ></i> Mensaje de Notificación</a>
    <a href="/mensaje_personalizado/listar/" class="menu-item"><i class="fas fa-save" ></i> Datos Guardados</a>
    <a href="" class="menu-item"><i class="fas fa-history" ></i> Historial</a>
    <a href="/historial_activacion/agregar/" class="menu-item"><i class="fas fa-history"></i> Historial de Activaciones</a>
    <br><br>
    <a href="/login/" class="underline-text">cerrar sesion <u></u></a>
</nav>

<div class="logo-container">
        <img src="/img/logo.jpeg" class="logo" alt="Logo">
    </div>

        <div class="crud-container">
            <div class="crud-content">
                <h1>Registro Familiar</h1>
                <form>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombres" placeholder="Ingrese su nombre"
                        pattern="[A-Za-záéíóúÁÉÍÓÚñÑüÜ\s]+" title="Solo se permiten letras y espacios" required>

                    <label for="apellido">Apellido:</label>
                    <input type="text" id="apellido" name="apellidos" placeholder="Ingrese su apellido"
                        pattern="[A-Za-záéíóúÁÉÍÓÚñÑüÜ\s]+" title="Solo se permiten letras y espacios" required>

                    <label for="correo">Correo:</label>
                    <input type="email" id="correo" name="correo_electronico" placeholder="Ingrese su correo"
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Ingrese un correo válido" required>

                    <label for="telefono">Teléfono:</label>
                    <input type="tel" id="telefono" name="telefono" placeholder="Ingrese su teléfono"
                        pattern="[0-9]{10}" title="Ingrese un número de teléfono válido de 10 dígitos" maxlength="10" required>


                    <div id="boton">
                        <button type="submit" id="">Guardar</button>
                    </div>
                    <br>
                    <br>


                </form>

            </div>
        </div>
    </body>
</form>