{{!-- Funcional --}}
<link rel="stylesheet" href="/css/agregarobjeto.css">
<form action="/objeto/agregar" method="post">

    <body>
        <img src="/img/image5.png" class="img3">
    <h1>REGISTRO DE OBJETOS</h1>
    <div class="content">
        <div class="form-container">
        
            <div class="mb-3">
            <label id="marcas" for="marca">Marca</label> <br>
            <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca del Dispositivo" required>

            <label id="modelo" for="modelo">Modelo</label> <br>
            <input type="text" class="form-control" id="modelo" name="modelo"placeholder="Modelo del Dispositivo" required>


            <label id="numero_series" for="numero_serie">Numero de Serie</label> <br>
            <input type="text" class="form-control" id="numero_serie" name="numero_serie" placeholder="Número de serie" required>

            <label id="numero_contacto" for="numero_contacto">Numero de Contacto</label> <br>
            <input type="text" class="form-control" id="numero_contacto" name="numero_contacto" placeholder="Número de contacto" required>

            <label id="correo_electronico" for="correo_objeto">Correo Electronico</label> <br>
            <input type="text" class="form-control" id="correo_electronico" name="correo_objeto" placeholder="Correo electrónico" required>

            <label id="fecha_perdida" for="fecha_perdida">Fecha de la perdida</label> <br>
            <input type="text" class="form-control" id="fecha_perdida" name="fecha_perdida" placeholder="Fecha de la perdida" required>

            <label id="hora_perdida" for="hora_perdida">Hora de la perdida</label> <br>
            <input type="text" class="form-control" id="hora_perdida" name="hora_perdida" placeholder="Hora de la perdida" required>

            <label id="ubicacion_perdida" for="ubicacion_perdida">Ubicación de la perdida</label> <br>
            <input type="text" class="form-control" id="ubicacion_perdida" name="ubicacion_perdida" placeholder="Ubicación de la perdida" required>

            <label id="color" for="color">Color:</label> <br>
            <input type="text" class="color" id="color" name="color" placeholder="color" required>

            

            <br> <br><br>
            <br> <br>
            
            <div class="login">
                <button type="submit" id="">Registrar</button>
            </div>
            <div class="atras">
           <button type="submit" id="">Guardar</button>
            </div>
           </div>
        </div>
    </body>
</form>