{{!-- Funcional --}}
<link rel="stylesheet" href="/css/agregarmascota.css">
<form action="/mascota/agregar" method="post">

        <img src="/img/image6.png" class="img3">
        <h1>REGISTRO MASCOTAS</h1>
        <div class="container">

            <div class="column">

                <label id="pet" for="mascota">Nombre del Animal:</label> <br>
                <input class="form-control" type="text" id="mascota" name="nombre_mascota"
                    placeholder="Nombre del Animal" pattern="[A-Za-záéíóúÁÉÍÓÚñÑüÜ\s]+"
                    title="Solo se permiten letras y espacios" required>

                <label id="species" for="especie">Especie:</label> <br>
                <input class="form-control" type="text" id="especie" name="especie" placeholder="Especie"
                    pattern="[A-Za-záéíóúÁÉÍÓÚñÑüÜ\s]+" title="Solo se permiten letras y espacios" required>


                <label id="race" for="raza">Raza:</label> <br>
                <input class="form-control" type="text" id="raza" name="raza" placeholder="Raza"
                    pattern="[A-Za-záéíóúÁÉÍÓÚñÑüÜ\s]+" title="Solo se permiten letras y espacios" required>


                <label for="altura">Altura (M):</label>
                <input class="form-control" type="text" id="altura" name="altura" placeholder="Altura"
                    pattern="^(?:[0-1](\.[0-9]{1,2})?)?$" title="Ingrese una altima Maxima 1.9 Metros" maxlength="4"
                    required>


                <label for="peso">Peso (KG):</label>
                <input class="form-control" type="text" id="peso" name="peso" placeholder="Peso"
                    title="Por favor, ingresa una peso maximo Maximo de 300 KG"
                    pattern="^(300(\.0{1,2})?|[0-2]?\d{1,2}(\.\d{1,2})?)$" required>
            </div>
            {{!-- detalle --}}
            <div class="column">
                <label for="medicamentos">Medicamentos:</label>
                <select class="form-control" name="medicamentos">
                    <option name="medicamentos"> 1</option>
                    <option name="medicamentos"> 2</option>
                    <option name="medicamentos"> 3</option>
                    <option name="medicamentos">Otros</option>
                </select>

                <label for="inputDate">Fecha de Vacunación(Última Vacuna)</label>
                <input type="date" class="form-control" id="inputDate" name="fecha_vacuna" placeholder="última Vacuna">

                <label for="nombre_propietario">Nombre del Propietario:</label>
                <input class="form-control" type="text" id="nombre_propietario" name="nombre_propietario"
                    placeholder="Nombre propietario" pattern="[A-Za-záéíóúÁÉÍÓÚñÑüÜ\s]+"
                    title="Solo se permiten letras y espacios" required>

                <label for="direccion_mascota">Direccion del Propietario:</label>
                <input class="form-control" type="text" id="direccion_mascota" name="direccion_mascota"
                    placeholder="Direccion del Propietario" required="">

                <label for="numero_telefonico">Numero Telefonico:</label>
                <input class="form-control" type="text" id="numero_telefonico" name="numero_telefonico"
                    placeholder="Numero telefonico" pattern="[0-9]{10}"
                    title="Ingrese un número de teléfono válido de 10 dígitos" maxlength="10" required>
            </div>
            <div class="login">
                <button type="submit" id="" style="background-color: red;">Registrar</button>
            </div>
            <div class="atras">
                <a href="/catalogo"> <button type="button">Atras</button> </a>

            </div>
        </div>

</form>