{{!-- Funcional --}}
<link rel="stylesheet" href="/css/agregarmascota.css">
<form action="/mascota/agregar" method="post">

    <body>
        <img src="/img/image6.png" class="img3">
        <h1>REGISTRO MASCOTAS</h1>
        <div class="content">
             <div class="form-container">

            <h2>Mascotas</h2>
           
            <label id="pet" for="mascota">Nombre del Animal:</label> <br>
            <input class="form-control" type="text" id="mascota" name="nombre_mascota" placeholder="Nombre del Animal" required>
            
            <label id="species" for="especie">Especie:</label> <br>
            <input class="form-control" type="text" id="especie" name="especie"placeholder="Especie" required>
           
            
            <label id="race" for="raza">Raza:</label> <br>
            <input class="form-control" type="text" id="raza" name="raza" placeholder="Raza" required>
            
            
            <label id="height" for="altura">Altura:</label> <br>
            <input class="form-control" type="text" id="altura" name="altura" placeholder="Altura" required>
            
           
            <label id="weight" for="peso">Peso:</label> <br>
            <input class="form-control" type="text" id="peso" name="peso" placeholder="Peso" required>

            {{!-- detalle --}}

            <label id="weight" for="peso">Numero Telefonico:</label> <br>
            <input class="form-control" type="text" id="peso" name="numero_telefonico" placeholder="Numero telefonico" required>

            <label id="weight" for="peso">Medicamentos:</label> <br>
            <input class="form-control" type="text" id="peso" name="medicamentos" placeholder="Medicamentos" required>

            <label id="weight" for="peso">Direccion del Propietario:</label> <br>
            <input class="form-control" type="text" id="peso" name="direccion_mascota" placeholder="Direccion del Propietario" required>

            <label id="weight" for="peso">Fecha de la vacuna:</label> <br>
            <input class="form-control" type="text" id="peso" name="fecha_vacuna" placeholder="Fecha Vacuna" required>

            <label id="weight" for="peso">Nombre del Propietario:</label> <br>
            <input class="form-control" type="text" id="peso" name="nombre_propietario" placeholder="Nombre propietario" required>

           



            

            <div class="login">
                <button type="submit" id="">Registrar</button>
            </div>
            <div class="atras">
           <button type="submit" id="">Guardar</button>
            </div>
            </div>
        </div>
    </body>
</form>