
<link rel="stylesheet" href="/css/inicio.css">
<form action="/registro"method="POST">
<body>
    <img src="imagen/sos.png" class="imagen1">
    <img src="imagen/iconsos.jpg" class="imagen2">
    <div class="formulario">
        <img src="imagen/usuario.jpeg" class="img">
        <input type="text" required>
        <label>Usuario</label> 
    </div>
    <div class="contraseña">
        <img src="imagen/cnd.jpeg" class="img">
        <input type="text" required>
        <label class="LB">Contraseña</label>
    </div>
    <div class="login">
        <input type="submit" value="Iniciar Sesión">
    </div>
    <br>
    <h2>¿Eres Nuevo Usuario?</h2>
    <h4>Registrarse</h4>

</body>